{% extends 'base.html' %}
{% block category %}
Home
{% endblock category %}
{% block body %}

<h3>PM Access Requests</h3>
<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Machine</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for r in requests %}
        <tr>
            <td>{{ r.user.username }}</td>
            <td>{{ r.todo.desc }}</td>
            <td>{{ r.request_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ r.status }}</td>
            <td>
                {% if r.status == 'pending' %}
                <a href="{{ url_for('approve_pm_access', req_id=r.id) }}" class="btn btn-success btn-sm">Approve</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}